//#2098D1
$header-height: auto;
$primary-color: #262626;
$secondary-color: #362066;
$highlighted: #FF0266;
$highlightedonpurple: #FF0266;
$white: #fff;
$title-font: 'Raleway', sans-serif;
$p-font:  "Roboto", "Helvetica", "Arial", sans-serif;

html {
  background-color:$primary-color;
}

:Link {
  text-decoration: none;
  font-size:20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  background-color:inherit;
  font-family: $title-font;
}

p {
  color: #fff;
  background-color:inherit;
  font-size: 19pt;
  font-family: $p-font;
  font-weight:300;
  letter-spacing: .5pt;
}

body {
  margin: 0 !important;
  display: unset;
}

h1 { //Major Titles
  margin: auto;
  text-align: center;
  font-size:40px;
}

h2 { //Minor Titles
  font-size: 20px;
  text-align: center;
}

h3 { //Sub Titles
  font-size: 15px;
}

h4 { //Bold Titles
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.43;
  color:#eee;
  letter-spacing: 0.01071em;
  text-align:left;
}

h5 {
  font-size: 14pt;
  font-weight: 500;
  color: #262626 !important;
  line-height: 1.67;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.margin-auto {
  margin:auto;
}

.footer {
  background-color:$secondary-color;
  height: 200px;
  width: 100%;
  z-index:20;
  bottom:0;
  overflow:hidden;
  .footer-inner {
    text-align: center;
    color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    width:inherit;
    padding-top: 100px;
    vertical-align: middle;
    padding-bottom:10px;
    p {
      font-size:14px;
    }
  }

}


a:visited {
  color:unset;
}

a:hover {
  color: $highlighted;
}

.highlighted {
  color: $highlighted;
  font-weight:500;
}

.highlighted-alt {
  color: $highlightedonpurple !important;
  font-weight:500;
  border-color: $highlightedonpurple !important;
}

.heavy {
  font-weight:900;
}

//Profile Page 
.background-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-top: $header-height;
  height: 100vh; 
  z-index: -10;
  opacity:0.2;
  background-color: $primary-color;
  background: url("../images/me-walking-in-the-park.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.colorbackground-fixed {
  transition:0.3s;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-top: $header-height;
  height: 100vh; 
  z-index: -1;
  opacity:0;
  background-color:$secondary-color;
}
  //background-image: url(../images/swirl.jpg);


.picture-section {
  height: 100vh;
  background-color:transparent;
  position: relative;
}

.picture-section__inner {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  height:100%;
  margin:auto;
  max-width:600px;
}

.picture-section__inner h1 {
  padding: 5px 0;
  margin: 0;
  font-size:60px;
  font-weight:450;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.picture-section__inner h2 {
  padding: 5px 0;
  margin: 0;
  font-size:40px;
  font-weight:450;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.picture-section__inner br {
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  height:30px;
}

.picture-section-icons-container {
  margin-top:5px;
  display:flex;
  padding: 0 20px;
  justify-content: center;
}

.picture-section-breaker {
  margin: 15px 10px;
  border-top:.5px solid #eee;
  color:transparent;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  height:.5px;
}

.picture-section-icons-container a {
  font-size:40px;
  color: #eee;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  padding:5px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.picture-section-icons-container a:hover {
  opacity:0.7;
  cursor:pointer;
}

.contents-section {
  display:flex;
  flex-direction:column;
  min-height:100px;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  padding:200px 10px;
  background-color:#eee;
  background-repeat: repeat;
  background-size: auto;
  background-color: transparent;
  background-position: -112.787px 215.7px;
  background-image: url(../images/prismLight.png);
}

.title-section {
  padding: 110px 20px;
  display: flex;
  min-height: 450px;
  justify-content: center;
  position: relative;
  background-color: $secondary-color;
  background-repeat: repeat;
  background-size: auto;
  background-position: -112.787px 215.7px;
}

.title-section-small {
  padding: 110px 20px;
  display: flex;
  min-height: 0px;
  justify-content: center;
  position: relative;
  background-color: $secondary-color;
  background-repeat: repeat;
  background-size: auto;
  background-position: -112.787px 215.7px;
}


.title-section .title-section__inner {
  padding: 10px 0;
  z-index:1;
  position:relative;
}

.title-section__inner-container {
    border-radius:10px;
    position:absolute;
    top:50%;
    background-color:#fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow:hidden;
}

.icon1 {
  height:75px;
}

.skills-container {
  display:flex;
  min-height:600px;
  justify-content: center;
}

.title-section__inner-container-spacing {
  height:300px;
}

.contents-section__inner {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container-item {
  width:360px;
  padding:40px;
  height:inherit;
  background-color:#fff;
  border-left: 1px solid #F2F2F2;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
}

.skills-container-item:first-child {
  border-left: 0;
}

.skills-container-item h3 {
  color:$primary-color;
  letter-spacing: 0.01071em;
  margin: 50px auto 25px;
  font-size:25px;
  font-weight:600;
}

.skills-container-item h4 {
  color:$highlighted;
  letter-spacing: 0.01071em;
  margin: 25px auto 25px;
  font-size: 1.5rem;
  font-weight:600;
  letter-spacing:0.5pt;
}

.skills-container-item p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color:#262626;
  margin: 0 auto;
  text-align:center;
  letter-spacing:0.5pt;
  min-height:125px;
}

.blogposts {
  flex-direction:column;
}

.centered {
  text-align:center;
  width:770px;
}

.dark {
  color: $primary-color;
}

.light {
  color: #eee !important;
}

.light::before {
  border-bottom: solid 1px #eee !important;
}
.light::after {
  border-bottom: solid 1px #eee !important;
}

.contents-title-container h2 .light::after {
  content: '';
  width: 25%;
  border-bottom: solid 1px #eee;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}

.contents-text-container {
  display:flex;
  flex-direction:column;
  margin: 0 auto 50px;
}

.contents-title-container {
  margin: 0px auto 50px;
  border-bottom:2px solid #262626;
}

.contents-title-container h2 {
  margin:auto;
  text-align: center;
  font-size: 30pt;
  padding-bottom: 10px;
  position: relative;
  color: #262626;
}
/*
.contents-title-container h2::before {
  content: '';
  width: 25%;
  border-bottom: solid 1px #262626;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

.contents-title-container h2::after {
  content: '';
  width: 25%;
  border-bottom: solid 1px #262626;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}
*/

.button-outlined {
  margin:0 auto;
  border: 1px solid $highlighted;
  border-radius:5px;
  background-color: transparent;
  color: $highlighted;
  padding: 14px 28px;
  font-size: 18pt;
  cursor: pointer;
  transition: 0.3s;
}

.button-outlined:hover {
  background-color: $highlighted;
  color:#eee;
  transition: 0.3s;
}

.small {
  font-size:12pt !important;
  padding: 10px 20px;
}

.-container {
    width:900px;
    margin:auto;
}

.contents-section h4 {
  color: $primary-color;
}

.contents-section p {
  margin: 0;
  color:#262626;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
.header-showing {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:0.6s;
  background-color:#262626 !important;
  color:#fff !important;
  border-bottom: 5px solid $secondary-color;
}
//Something Else
.header {
  transition:0.6s;
  height:75px;
  position: fixed;
  z-index:2;
  width:100%;
  top:0;
  display:flex;
  justify-content:flex-end;
  overflow:hidden;
  background-color:transparent;
  color:#fff;
  .navigation-button {
    padding:10px;
    font-size:1.25em;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
  }

  .navigation-button:hover {
    color:$highlighted !important;
    cursor:pointer;
  }
}

  .canvas {
    position:absolute;
    z-index:-1;
    height:100%;
    width:100%;
  }


.header-inner {
  padding: 20px 4vw;
}

.about-image {
  height:300px;
}

.main {
  margin-top:headerHeight;
  height:inherit;
}

.gatsby-image-wrapper {
  height: 100%;
}

//gatsby overwrites
.gatsby-resp-image-image {
  display: block !important;
  margin: 0 auto;

}

.blog-post-list-container {
  height:auto;
}

.portfolio-post-list {
  padding:15px 0;
  position: relative;
  display:flex;
  flex-direction: row;
  background-color:inherit;
  justify-content: center;
  flex-wrap:wrap;
  
}

.portfolio-post-item {
  width:auto;
  max-width:800px;
  color:#262626;
  background-color:$primary-color;
  display:flex;
  flex-direction:column;
  overflow:hidden;
  margin: 15px;
  position:relative;
  transition: 0.3s;
}

.portfolio-post-item:hover {
  transition: 0.3s;
  transform:translateY(-10px);
  box-shadow: 2px 10px 3px rgba(0, 0, 0, 0.3);
}


.portfolio-post-item:nth-child(odd) {
  background-color: #eee;
  height:100%;
}

.portfolio-post-item-image {
  height:300px;
  width:400px;
  margin:auto;
  object-fit: cover; 
  background-color:#262626;
}

.portfolio-post-item-image picture {
  height:300px;
  width:400px;
  margin:auto;
  object-fit: cover; 
  background-color:#262626;
  opacity:.6;
}


.portfolio-post-item-details {
  position: absolute;
  height: 0px;
  display:flex;
  justify-content: center;
  opacity:1;
}

.portfolio-post-item-details__inner {
  /* margin-top: 100px; */
  margin:25% 5%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.portfolio-post-item-details__inner h4 {
  font-size:19px;
  color:#eee;
  margin:10px;
  height:30px;
  padding:5px;
  border-radius:5px;
  border: .5px solid #262626;
  background-color: rgba(38,38,38, 0.6)
}

.portfolio-post-item-details-top {
  position: absolute;
  height: 25px;
  width:100%;
  top:0;
  background-color:#ddd;
  text-align:center;
  z-index:1;
}

.portfolio-post-item-image:hover > .portfolio-post-item-details {
  position: absolute;
  height: 100%;
  width: 100%;
  /* margin-top: 30px; */
  background-color: rgba(38,38,38,0.8);
  top: 0;
  transition: .2s;
}


.portfolio-post-item-details-top h5 {
  font-size: 16px;
  color: #8a8a8a;
  margin: 2.5px 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.circle {
  position:absolute;
  width:12px;
  height:12px;
  right:10px;
  top: 25%;
  border-radius:50%;
}

.red {
  background-color:red;
}

.orange {
  background-color:orange;
  right:25px;
}

.green {
  background-color: green;
  right:40px;
}

.blog-post-list-container {
  height:auto;
}

.blog-post-list {
  padding:15px 0;
  position: relative;
  display:flex;
  flex-direction: row;
  background-color:inherit;
  justify-content: center;
  flex-wrap:wrap;
}

.blog-post-item-imagecontainer {
  display:flex;
}

.blog-post-item {
  color:#262626;
  display:flex;
  flex-direction:row;
  overflow:hidden;
  margin: 15px;
  position:relative;
  transition: 0.3s;
}

.blog-post-item:nth-child(odd) {
  background-color: transparent;
}

.blog-post-item-image {
  margin:auto;
  object-fit: cover; 
  background-color:transparent;
  opacity:.6;
}

.blog-post-item-details {
  position: absolute;
  height: 0px;
  display:flex;
  justify-content: center;
}

.blog-post-item-details__inner {
  /* margin-top: 100px; */
  margin:25% 5%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.blog-post-item-details__inner h4 {
  font-size:19px;
  color:#eee;
  margin:10px;
  height:30px;
  padding:5px;
  border-radius:5px;
  border: .5px solid #262626;
  background-color: rgba(38,38,38, 0.6)
}

.blog-post-item-details-top {
  position: absolute;
  height: 25px;
  width:100%;
  top:0;
  background-color:#ddd;
  text-align:center;
  z-index:1;
}

.blog-post-item-details-top h5 {
  font-size: 16px;
  color: #8a8a8a;
  margin: 2.5px 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.blog-post-item-image:hover > .blog-post-item-details {
  position: absolute;
  height: 100%;
  width: inherit;
  /* margin-top: 30px; */
  background-color: rgba(38,38,38,0.8);
  top: 0;
  transition: .2s;
}

.blog-post-item-date h2 {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-family: $p-font;

}

.blog-post-item-title h2 {
  font-size: 30px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align:left;
  font-family: $p-font;
}

.blog-post-item-title h2, .blog-post-item-date h2 {
  color:#262626;
}

.blog-post-item-date {
  width:100%;
}

.blog-post-item-date h2 {
  text-align:left;
}

.blog-post-item-summary {
  width:600px;
  display:flex;
  justify-content: center;
}

.blog-post-item-summary h2 {
  color: $primary-color;
  font-weight:300;
  letter-spacing:1pt;
  font-size:12pt;
  font-family:$p-font;
  padding-bottom:10px;
  width:100%;
  text-align:left;
  margin-bottom:25px;
}

.blog-post-item button {
  margin-bottom: 30px;
}


.imageContainer {
  height:100px;
}

//Actual blog post pages

.blog-post-container {
  height:100vh;
  margin:20px;
}

.blog-post-container p {
  padding: 0 20px;
}

.blog-page-container {
  width:100%;
}

.blog-page-header {
  height:75px;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .navLeft {
    top:0;
    left:unset;
    bottom:unset;
    width:100%;
    height:100px;
  }
  .main {
    margin-left: unset;
  }
}

@media screen and (max-width: 1270px) {
  .title-section {
    .contents-text-container 
      p {
        text-align: left !important;
      
    }
  }
  .contents-title-container h2  {
    font-size: 22pt;
  }

  .contents-text-container p {
    font-size: 14pt;
    text-align:center;
  }


  .title-section__inner-container-spacing {
    height:1525px !important;
  }
  h4,.skills-container-item h3,.skills-container-item h4 {
    font-size:16pt;
  }

  p {
    font-size: 14pt;
  }

  .skills-container-item p {
    font-size: 14pt;
    text-align: center;
  }

  .mainContainer {
    overflow:hidden;
  }
  .contents-text-container {
    p {
      word-wrap: break-word;
      width: 90vw;
    }
  }

  .skills-container {
    display:flex;
    flex-direction:column;
  }
  .skills-container-item {
    margin:auto;
    border-top: 1px solid #F2F2F2;
    width: 100% !important;
    padding: 40px 0;
  }

  .title-section {
    padding: 0 !important;
  }
  
  .title-section__inner-container {
    border-radius:0px;
    top: 53%;
  }


  .title-section__inner-container-spacing {
    height:1650px;
  }

  .picture-section__inner h1 {
    font-size: 40px;
  }

  .picture-section__inner h2 {
    font-size: 25px;
  }

  .picture-section-breaker {
    margin: 15px 50px;
  }
  .navigation-button {
    font-size: 1em !important;
  }

  .header {
    justify-content: center;
  }

  .centered {
    width: unset;
  }

  .contents-section {

    padding-left:0;
  }

  .portfolio-post-item-image {
    .gatsby-image-wrapper {
      position: unset !important;
    }
  }

  .contents-text-container {
    padding-top: 25px;
  }
}

//Iphone SE <
@media screen and (max-width: 320px) {
  p {
    font-size: 13pt !important;
  }

  .button-outlined {
    font-size: 14pt;
  }

  .blog-post-item-date {
    h2 {
      width:50%;
    }
  }

  .blog-post-item-summary {
    justify-content:unset;
    h2 {
      width:50%;
    }
  }

  .title-section__inner-container {
    border-radius:0px;
    top: 55%;
  }
  
  .portfolio-post-item-details-top h5 {
    padding-right: 40px;
  }
}